@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-yellow: #FFD700;
  --color-brand-pink: #FF00FF;
  --color-brand-cyan: #00FFFF;
  --color-brand-green: #00FF00;
  --color-brand-orange: #FF4500;
  --color-brand-purple: #8A2BE2;
}

@layer base {
  body {
    @apply antialiased;
  }
}
